<html>
<body>

    <h1 style="text-align: center;"><strong>Mans Virsraksts</strong></h1>
    <p style="text-align: center;">MANI SAUC OJĀRS VĀCIETIS, MANS MĪĻĀKAIS RADIO IR RADIO STARFM</p>
    <h3 style="text-align: center;">RENARDS KOIKINS IR RADIO SKONTO BEZ ROBEŽĀM</h3>
    <h2 style="text-align: center;">ES VĒLOS SUNI BEZ SALDĒJUMA</h2>
    <h1 style="text-align: center;">PALĪGĀ CSDD</h1>
    <p>Sprīdīts:</p>
    <ol>
    <li style="text-align: left;">OLAS</li>
    <li style="text-align: left;">MILTI</li>
    <li style="text-align: left;">KELOKSI</li>
    <li style="text-align: left;">PIENS</li>
    <li style="text-align: left;">MĪKLA
    <table style="border-collapse: collapse; width: 104.935%; height: 66px;" border="1">
    <tbody>
    <tr>
    <td style="width: 10%; text-align: left;">&nbsp;</td>
    <td style="width: 10%;">&nbsp;</td>
    <td style="width: 10%;">&nbsp;</td>
    <td style="width: 10%;">&nbsp;</td>
    <td style="width: 10%;">&nbsp;</td>
    <td style="width: 10%;">&nbsp;</td>
    <td style="width: 10%;">&nbsp;</td>
    <td style="width: 10%;">&nbsp;</td>
    <td style="width: 10%;">&nbsp;</td>
    <td style="width: 10%;">&nbsp;</td>
    </tr>
    <tr>
    <td style="width: 10%; text-align: left;">&nbsp;</td>
    <td style="width: 10%;">&nbsp;</td>
    <td style="width: 10%;">&nbsp;</td>
    <td style="width: 10%;">&nbsp;</td>
    <td style="width: 10%;">&nbsp;</td>
    <td style="width: 10%;">&nbsp;</td>
    <td style="width: 10%;">&nbsp;</td>
    <td style="width: 10%;">&nbsp;</td>
    <td style="width: 10%;">&nbsp;</td>
    <td style="width: 10%;">&nbsp;</td>
    </tr>
    <tr>
    <td style="width: 10%; text-align: left;">&nbsp;</td>
    <td style="width: 10%;">&nbsp;</td>
    <td style="width: 10%;">&nbsp;</td>
    <td style="width: 10%;">&nbsp;</td>
    <td style="width: 10%;">&nbsp;</td>
    <td style="width: 10%;">&nbsp;</td>
    <td style="width: 10%;">&nbsp;</td>
    <td style="width: 10%;">&nbsp;</td>
    <td style="width: 10%;">&nbsp;</td>
    <td style="width: 10%;">&nbsp;</td>
    </tr>
    <tr>
    <td style="width: 10%; text-align: left;">&nbsp;</td>
    <td style="width: 10%;">&nbsp;</td>
    <td style="width: 10%;">&nbsp;</td>
    <td style="width: 10%;">&nbsp;</td>
    <td style="width: 10%;">FDRTRWGRWRGWRGWRG</td>
    <td style="width: 10%;">&nbsp;</td>
    <td style="width: 10%;">&nbsp;</td>
    <td style="width: 10%;">&nbsp;</td>
    <td style="width: 10%;">&nbsp;</td>
    <td style="width: 10%;">&nbsp;</td>
    </tr>
    <tr>
    <td style="width: 10%; text-align: left;">&nbsp;</td>
    <td style="width: 10%;">&nbsp;</td>
    <td style="width: 10%;">&nbsp;</td>
    <td style="width: 10%;">&nbsp;</td>
    <td style="width: 10%;">&nbsp;</td>
    <td style="width: 10%;">&nbsp;</td>
    <td style="width: 10%;">&nbsp;</td>
    <td style="width: 10%;">&nbsp;</td>
    <td style="width: 10%;">&nbsp;</td>
    <td style="width: 10%;">&nbsp;</td>
    </tr>
    <tr>
    <td style="width: 10%;">&nbsp;</td>
    <td style="width: 10%;">&nbsp;</td>
    <td style="width: 10%;">&nbsp;</td>
    <td style="width: 10%;">&nbsp;</td>
    <td style="width: 10%;">&nbsp;</td>
    <td style="width: 10%;">&nbsp;</td>
    <td style="width: 10%;">&nbsp;</td>
    <td style="width: 10%;">&nbsp;</td>
    <td style="width: 10%;">&nbsp;</td>
    <td style="width: 10%;">&nbsp;</td>
    </tr>
    <tr>
    <td style="width: 10%;">&nbsp;</td>
    <td style="width: 10%;">&nbsp;</td>
    <td style="width: 10%;">&nbsp;</td>
    <td style="width: 10%;">&nbsp;</td>
    <td style="width: 10%;">&nbsp;</td>
    <td style="width: 10%;">&nbsp;</td>
    <td style="width: 10%;">&nbsp;</td>
    <td style="width: 10%;">&nbsp;</td>
    <td style="width: 10%;">&nbsp;</td>
    <td style="width: 10%;">&nbsp;</td>
    </tr>
    </tbody>
    </table>
    </li>
    </ol>

</body>
</html>