<!DOCTYPE html>
<html>
  <body>
   <div class="about">
     {% extends "layout.html" %}  
     {% block content %}
        <div class="about">
          <h1 style="position: absolute; left: 300px; top: 50px; font-size:65px; ">Albumi:</h1>
      
          <ul>
            {% for x in names %}
                <li>{{ x }}</li>
            {% endfor %}
          </ul>
          <img src="static\imagis\YeatAfter.webp" style="position: absolute; left: 500px; top: 120px;">
        </div>
      {% endblock %}
  </body>
</html>