<!DOCTYPE html>
<html>
  <head>
    <title>Flask app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <style>
      body {
        background: #000000;
      }
    </style>
  </head>
  <body>
    <header>
      <div class="container">
        <h1 align="center">Yeat Diskogrāfija
           </h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">Diskogrāfija</a></li>
            <li><a href="{{ url_for('Albumi') }}">Albumi</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>