<!DOCTYPE html>
<html>
  <body>
  <h3><table style="border-collapse: collapse; width: 76.8493%; height: 113px;" border="1">
    <tbody>
    <tr style="height: 18px;">
    <td style="width: 33.3333%; text-align: center; height: 18px;"><strong>Izlai&scaron;anas gads</strong></td>
    <td style="width: 33.3333%; text-align: center; height: 18px;"><strong>Albuma nosaukums</strong></td>
    <td style="width: 33.3333%; height: 18px; text-align: center;"><strong>Dziesmu skaits</strong></td>
    </tr>
    <tr style="height: 18px;">
    <td style="width: 33.3333%; text-align: center; height: 18px;">2021. gads</td>
    <td style="width: 33.3333%; text-align: center; height: 18px;">Up 2 Me</td>
    <td style="width: 33.3333%; height: 18px; text-align: center;">22</td>
    </tr>
    <tr style="height: 18px;">
    <td style="width: 33.3333%; text-align: center; height: 18px;">2022. gads</td>
    <td style="width: 33.3333%; text-align: center; height: 18px;">2 Alive</td>
    <td style="width: 33.3333%; height: 18px; text-align: center;">20</td>
    </tr>
    <tr style="height: 18px;">
    <td style="width: 33.3333%; text-align: center; height: 18px;">2023. gads</td>
    <td style="width: 33.3333%; text-align: center; height: 18px;">Afterlyfe</td>
    <td style="width: 33.3333%; height: 18px; text-align: center;">22</td>
    </tr>
    <tr style="height: 18px;">
    <td style="width: 33.3333%; text-align: center; height: 18px;">2024. gads</td>
    <td style="width: 33.3333%; text-align: center; height: 18px;">2093</td>
    <td style="width: 33.3333%; height: 18px; text-align: center;">24</td>
    </tr>
    <tr style="height: 18px;">
    <td style="width: 33.3333%; text-align: center; height: 18px;">2024. gads</td>
    <td style="width: 33.3333%; text-align: center; height: 18px;">Lyfestyle</td>
    <td style="width: 33.3333%; height: 18px; text-align: center;">22</td>
    </tr>
    </tbody>
    </table></h3>
   <div class="zinas">
     {% extends "layout.html" %}  
     {% block content %}
        <div class="zinas">
          <ul>
            {% for x in names %}
                <li>{{ x }}</li>
            {% endfor %}
          </ul>
          <img src="{{ url_for('static', filename='imagis/YeatDisc.webp') }}"
        </div>
      {% endblock %}
  </body>
</html>